@{
    Layout = "_Layout";
}

<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="card p-4 mb-4">
            <h3 class="card-title mb-3">Register as Farmer</h3>

            <form method="post">
                <div class="mb-3">
                    <label class="form-label">Full Name</label>
                    <input name="fullName" class="form-control" placeholder="Enter your name" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter your email" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter password" required />
                </div>

                <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>
        </div>
    </div>
</div>
